 <div class="page">
      
     
      <div class="page-wrapper">
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  PROFILE DETAILS
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="row g-0">
                <div class="col d-none d-md-block border-end">
                
                <div class="col d-flex flex-column">
                  <div class="card-body">
                    <h2 class="mb-4">My Account</h2>
                    <div class="row align-items-center">
                      
                      
                    <h3 class="card-title mt-4">Profile</h3>
                 
                      <div class="col-md">
                        <div class="form-label">UserName</div>
                        <input type="text" class="form-control w-auto" name="firstname" value={{user.username}}>
                      </div>
                      
                 
                    
                      <div class="row g-2">
                        <div class="col-auto">
                          <input type="text" class="form-control w-auto" name="email" value={{user.email}} readonly>
                        </div>
                       
                      </div>
                    </div>
                    
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>