<div class="card mt-3" style="width: 18rem;">
  <h5 class="card-title text-center">{{product.title}}</h5>
  <img
    src="/{{{product.imageUrl}}}"
    style="height:200px"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title text-center">{{product.price}}$</h5>
    <p class="card-text">{{product.description}}</p>
   

  </div>
</div>